@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Oxygen:wght@300&display=swap');

body{
  background-color: rgb(198, 222, 243);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todoTable{
  margin-left: auto;
  margin-right: auto;

 
}

.input_box{
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}


.editInput{
  border-radius: 50px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}


.input_box:focus,
.editInput:focus{
  
  outline: none;
}


.ToDoCard{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  width: 350px;
}

h1, h2, input, textarea{
  font-family: 'Dosis', sans-serif;
}


.icon{
  width: 100px;
  margin: 5px;
  border-radius: 40px;
}

.ToDoCard:hover,
.ToDoCard:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.pagetext{
  font-family: 'Oxygen', sans-serif;
  color: white;
}
